
<div class="container">
  <h1>Student Basic Details</h1></br>
  <p><strong>First name: </strong><%=@student.first_name %></p>
  <p><strong>Last name:</strong> <%=@student.last_name %></p>

  <p><strong>Email: </strong><%=@student.email %></p>
  <p><strong>Contact number: </strong><%=@student.contact_number %></p>
  <p><strong>Mother name: </strong><%=@student.mother_name %></p>
  <p><strong>Father name: </strong><%=@student.father_name %></p>
  <p><strong>date of birth: </strong><%=@student.date_of_birth %></p>
  <p><strong>standard : </strong> <%=@student.standard %></p>
  <p><strong>Blood group:</strong> <%=@student.blood_group %></p>



<h1>Academic details</h1>

        <%if @student.academics.count == 0 %>
          <%=link_to 'add quarterly', {:controller => "academics", :action => "new", :id => @student.id } , class: "btn btn-outline-success" %>
        <%else %>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Exam type</th>
              <th>English</th>
              <th>Maths</th>
              <th>Science</th>
              <th>Social</th>
              <th>Computer</th>
              <th>Total</th>
              <th>Percentage</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
               <%@student.academics.each do |academy| %>

              <tr>
                <th scope="row"><%=academy.exam_type %></th>
                <td ><%=academy.english %></td>
                <td><%=academy.maths %></td>
                <td><%=academy.science %></td>
                <td><%=academy.social %></td>
                <td><%=academy.computer %></td>

                <%total = academy.english + academy.maths + academy.science + academy.social + academy.computer %>
                <td><%=total %></td>
                <td><%=((total/500)*100).round(3) %>%</td>
                <%if (total/500)*100 < 45 %>
                  <td style="color: #B00100">Fail</td>
                <%else %>
                  <td style="color: green">Pass</td>
                <%end %>
              </tr>
            <%end %>
            </tbody>
          </table>
          <%#=link_to 'update quarterly', edit_academic_path(@student.academics[0].id) , class: "btn btn-outline-success" %>
          <%=link_to 'update quarterly',edit_academic_path(exam_type: 'quarterly') , class: "btn btn-outline-success" %>
          <%if @student.academics.count == 1 %>
            <%=link_to 'add half-yearly', new_academic_path(exam_type: 'half-yearly'), class: "btn btn-outline-success"%>
          <%elsif @student.academics.count >= 2 %>
            <%=link_to 'update half-yearly', edit_academic_path(exam_type: 'half-yearly'), class: "btn btn-outline-success"%>
          <%end %>
          <% if @student.academics.count == 2%>
            <%=link_to 'add annual', new_academic_path(exam_type: 'annual'), class: "btn btn-outline-success"%>
          <%elsif @student.academics.count > 2%>
            <%=link_to 'update annual', edit_academic_path(exam_type: 'annual'), class: "btn btn-outline-success"%>
          <%end %>
        <%end %>
      </div>

<div align="right">
  <%=link_to 'back to students list', students_path, class: 'btn btn-outline-dark' %>
  <%=link_to 'delete student', student_path(@student), class: "btn btn-outline-danger", style: "margin-right: 50px", data: {confirm: "Are you sure you want to delete '#{@student.first_name.capitalize}'"}%>
</div>





























































<!--    <h1> Academic details</h1>-->

<!--    <p><strong>Exam type: </strong><%#=@academics.exam_type %></p>-->
<!--    <p><strong>English:</strong> <%#=@academics.english %></p>-->
<!--    <p><strong>Maths: </strong><%#=@academics.maths %></p>-->
<!--    <p><strong>Science: </strong><%#=@academics.science %></p>-->
<!--    <p><strong>Social: </strong><%#=@academics.social%></p>-->
<!--    <p><strong>Computer: </strong><%#=@academics.computer %></p>-->
<!--    <p><strong>Total: </strong><%#=@academics.total %></p>-->
<!--    <p><strong>Percentage : </strong> <%#=@academics.percentage %></p>-->
<!--    <p><strong>:Remarks</strong> <%#=@academics.remarks%></p>-->

<!--</div>-->



