



<!--<div align="center">-->

<!--  <div class="card" style="width: 40rem;" align="center">-->
<!--    <div class="card-body">-->
<!--      <img src="https://shivnadarschool.edu.in/sites/default/files/DSC_4288-min.jpg" class="card-img-top"alt="...">-->
<!--      <h2 class="card-title">Student Managment System</h2></br>-->
      <%#=link_to'Admin',new_user_session_path,class:"btn btn-success" %><%#if user_signed_in? %>
<!--        <%#=link_to 'Student Details ',students_path,class:"btn btn-info" %></br>-->

      <%# end %>

<!--      </br></br>-->
      <%#=link_to 'Student', new_student_session_path ,class:"btn btn-success"%><%#if student_signed_in? %>

        <%#=link_to 'Basic Details',students_path ,class:"btn btn-info"%>
<!--        </br></br>-->
<!--      <div align="center">-->
        <%#=button_to 'logout',   destroy_user_session_path, method: :delete ,class: "btn btn-danger" %>

          <%#end %>
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->






<div align="center">

  <div class="card" style="width: 40rem;" align="center">

      <img src="https://shivnadarschool.edu.in/sites/default/files/DSC_4288-min.jpg" class="card-img-top"alt="...">

    <h1 align="center">Student Management System</h1></br>
<% unless user_signed_in? or  student_signed_in? %>


  <%= button_to "Admin", new_user_session_path %></br>
  <%= button_to "Student",new_student_session_path %></br>
  <%#=link_to 'logout' ,destroy_user_session_path %>
<%end %>


<div style="text-align: center">
  <% if user_signed_in? %>
    <%= link_to (button_to'Student Details' ),students_path %></br>
    <%= link_to (button_to'Create new student') ,new_student_path %></br>

    <%= button_to "logout", destroy_user_session_path, method: :delete %>
  <%end %>
</div>

    <% if student_signed_in? %>

        <%= link_to (button_to 'Basic details'), students_path%></br>
  <%= button_to "logout", destroy_student_session_path, method: :delete %>
<%end %>

    </div>

</div>
